@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
    font-family: "League Spartan", sans-serif;
    background-color: #282828;
    color: white;
}

.icon1{
    display: flex;
    align-items: center;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 12px;
}

.ul-li1{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: 13px;
}