@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    font-family: "League Spartan", sans-serif;
    background-color: #282828;
    color: white;
}

.icon1{
    display: flex;
    align-items: center;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 12px;
}

.ul-li1{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: 13px;
    padding-right: 50px;
}

.about-gleb{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: #282828;
    color: white;
    line-height: 1.3;
    padding-left: 100px;
}

.left1{
    width: 350px;
}

.left1 h2{
    font-size: 33px;
}

.left1 h1{
    font-size: 45px;
    font-weight: bold;
}

.left1 p{
    font-size: 13px;
    color: gray;
    padding-bottom: 20px;
}

.btn1{
    width: 150px;
    height: 40px;
    background-color: orange;
    font-weight: bold;
    border-radius: 8px;
}

.btn1:hover{
    transform: scale(1.1);
}

.right1 img{
    width: 600px;
}


.about-design{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: #333232;
    color: rgb(141, 139, 139);
    font-weight: 100;
    gap: 20px;
}

.top1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.top1-logo{
    border: 1px solid white;
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d2c2c;
    border: none;
    border-radius: 20px;
    gap: 20px;
}

.top1-logo p{
    font-size: 14px;
}

.top1-logo img{
    width: 60px;
}

.bottom1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bottom1-logo{
    border: 1px solid white;
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d2c2c;
    border: none;
    border-radius: 20px;
    gap: 20px;
}

.about-gleb1{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333232;
    color: white;
    font-family: sans-serif;
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-size: 900px 650px;
    background-position: center;
}

.left2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;
    left: 20px;
}

.left2-1 img{
    width: 190px;
}

.left2-1{
    border: 1px solid white;
    border: none;
    background-color: #282828;
    width: 220px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.middle2 h1{
    color: whitesmoke;
    font-weight: 300;
    position: relative;
    top: 20px;
    left: 40px;
}

.middle2 p{
    font-size: 14px;
    font-weight: 100;
    color: #bcb9b9;
    border: 2px solid white;
    width: 340px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    border: none;
    border-radius: 10px;
}

.right2{
    border: 1px solid white;
    border: none;
    background-color: #282828;
    width: 255px;
    height: 355px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    right: 20px;
}

.right2 img{
    width: 220px;
}