@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    font-family: "League Spartan", sans-serif;
    background-color: #282828;
    color: white;
}

.icon1{
    display: flex;
    align-items: center;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 12px;
}

.ul-li1{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: 13px;
    padding-right: 150px;
}

.about-gleb{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: #282828;
    color: white;
    line-height: 1.3;
}

.left1{
    width: 350px;
}

.left1 h2{
    font-size: 33px;
}

.left1 h1{
    font-size: 45px;
    font-weight: bold;
}

.left1 p{
    font-size: 13px;
    color: gray;
    padding-bottom: 20px;
}

.btn1{
    width: 150px;
    height: 40px;
    background-color: orange;
    font-weight: bold;
    border-radius: 8px;
}

.btn1:hover{
    transform: scale(1.1);
}




.right1 img{
    width: 600px;
}